:root{
    --white: #ffffff;
}

body{
    background-color: #7fffd4;
}

header, 
footer{
    background-color: var(--white);
    height: 80px;
}

main{
    height: calc(100vh - 160px);
    overflow-y: auto;
}

.grid{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 500px;
    height: 500px;
    background-color: #B351F5;
}

.square{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid black;
    
}

img{
    width: 50px;
    height: 50px;
}

.blue{
    background-color: #2078D6;
    border:3px solid #1a64b4;
    border-style: inset;
    
}
.red{
    background-color: red;
    border:3px solid rgb(175, 0, 0);
    border-style: inset;
    background-image: url(../img/147841.svg);
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
    
}


#error{
    z-index: 900;
    width: 500px;
    height: 500px;
    left: 50%;
    top: 44.3%;
    transform: translate(-50%, -50%);
    position: absolute;
}
.bg-error{
    background-color: rgba(0, 0, 0, 0.377);
}
